<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{board/layout}">

<div layout:fragment="content" class="container">
    <h1>게시글 작성하기</h1>

    <form th:action="@{/board/create}" th:object="${board}" enctype="multipart/form-data" method="post">

        <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger" role="alert">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>

        <div class="input-group">
            <span class="input-group-text">Title</span>
            <input th:field="*{title}" type="text" aria-label="First name" class="form-control">
        </div>

        <div class="form-floating">
            <textarea th:field="*{content}" class="my-2 form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>

        <div>
            <input type="file" name="file" class="my-3 form-control"/>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">게시글 작성</button>
            <a th:href="@{/board/list}" class="btn btn-secondary">홈으로 돌아가기</a>
        </div>
    </form>
</div>

</html>